<br>

<div class="card">

  <div class="card-header">

    <div class="float-left">
      <h4>Produtos</h4>
    </div>
    <div class="float-right">
      <!--button type="button" class="btn btn-primary" [routerLink]="['novoProduto']"-->
      <button (click)="openModal(template)" style="margin:5px;" type="button" class="btn btn-primary">
        <!-- Pendente, novo produto -->
        Novo Produto
      </button>

      <!-- Abre um pop-up modal para inserir um novo produto -->
      <ng-template #template>

        <div class="modal-body text-center">
          <form #cadastroForm="ngForm">
            <h4>Dados do Produto</h4>
            <br>
            
            <!-- Camisas - Radio button -->
            <div class="custom-control custom-radio custom-control-inline">
              <input (click)="setCategoria('Camisa')" type="radio" class="custom-control-input" id="camisa" name="camisa" mdbInput>
              <label class="custom-control-label" for="camisa">Camisa</label>
            </div>

            <!-- Canecas - Radio button -->
            <div class="custom-control custom-radio custom-control-inline">
              <input (click)="setCategoria('Caneca')" type="radio" class="custom-control-input" id="caneca" name="caneca" mdbInput>
              <label class="custom-control-label" for="caneca">Caneca</label>
            </div>

            <!-- Botton - Radio button -->
            <div class="custom-control custom-radio custom-control-inline">
              <input (click)="setCategoria('Botton')" type="radio" class="custom-control-input" id="botton" name="botton" mdbInput>
              <label class="custom-control-label" for="botton">Botton</label>
            </div>

            <input type="text"   style="margin:2px;" class="form-control" [ngModel]="produto.nome" name="nomeProduto" id="nomeProduto" placeholder="Nome do produto">
            <input type="number" style="margin:2px;" class="form-control" [ngModel]="produto.valorunitario" name="valorUnitario" id="valorUnitario" placeholder="Valor do produto">
            <input type="number" style="margin:2px;" class="form-control" [ngModel]="produto.quantidade" name="quantidade" id="quantidade" placeholder="Quantidade">
            <input type="text"   style="margin:2px;" class="form-control" [ngModel]="produto.imagem" name="imagem" id="imagem" placeholder="Url da imagem">
            <input type="text"   style="margin:2px;" class="form-control" [ngModel]="produto.descricao" name="descricao" id="descricao" placeholder="Descrição">
            <input type="text"   style="margin:2px;" class="form-control" [ngModel]="produto.volume" name="volume" id="volume" placeholder="Volume">
            
            <input type="text"   style="margin:2px;" class="form-control" [ngModel]="categoria.nome" name="nome" id="nome" placeholder="Categoria">
            <input type="text"   style="margin:2px;" class="form-control" [ngModel]="material.nome" name="nome" id="nome" placeholder="Material">
            <input type="text"   style="margin:2px;" class="form-control" [ngModel]="genero.nome" name="nome" id="nome" placeholder="Gênero (F = Feminino)">
            <input type="text"   style="margin:2px;" class="form-control" [ngModel]="tamanho.nome" name="nome" id="nome" placeholder="Tamanho">
            
            <!--
            <div class="form-row ">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome">
              </div>
            </div>
            -->
          </form>
          <button type="button" class="btn btn-default" (click)="cancelar()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="enviar(cadastroForm)"  [disabled]="!cadastroForm.valid">Salvar</button>
        </div>

      </ng-template>

    </div>

  </div>



  <!-- Tabela para listar os produtos -->
  <div class="card-body">

    <!--Só vai mostrar produtos caso exista produtos-->

    <table id="produtos" class="table table-hover" *ngIf="produtos$ | async as produtos; else loadingError">
      <thead>
        <tr>
          <th>#</th>
          <th>Produto</th>
          <th>Qtd</th>
          <th>Valor</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let produto of produtos">
          <td>{{ produto.id }}</td>
          <td>{{ produto.nome }}</td>
          <td>{{ produto.quantidade }}</td>
          <td>{{ produto.valorunitario }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm">
                <!-- Pendendo botão atualizar -->
                Atualizar
              </button>
              {{ '' }}
              <button class="btn btn-outline-danger mb-1 btn-sm">
                <!-- Pendente botão remover -->
                Remover
              </button>
            </span>
          </td>
        </tr>

      </tbody>

    </table>

    <ng-template #loadingError>
      <div *ngIf="error$ | async; else loading">
        Erro ao carregar produtos. Tente novamente mais tarde.
      </div>
      <ng-template #loading>
        <span>Carregando Produtos...</span>
      </ng-template>
    </ng-template>


  </div>

</div>