<!-- Side Bar-->
<div class="container">
<nav>
		<ul class="mcd-menu">
			<br>
			<li>
				<a>
					<i class="fa fa-comments-o"></i>
					<strong>Produtos</strong>
					<small>Funcionalidade administrativas</small>
				</a>
				<ul>
					<li><a href="/cadastrar-produto"><i class="fa fa-globe"></i>Cadastrar um novo produto</a></li>
					<!--<li><a href="/editar-produto"><i class="fa fa-group"></i>Editar um produto</a></li>-->
					<!--<li><a href="/consultar-produtos"><i class="fa fa-group"></i>Consultar produtos</a></li>-->
					<!--<li><a href="/excluir-produto"><i class="fa fa-globe"></i> Excluir um produto</a></li>-->
				</ul>
			</li>
			<br>
			<li>
				<a>
					<i class="fa fa-comments-o"></i>
					<strong>Hemocentro</strong>
					<small>Funcionalidade administrativas</small>
				</a>
				<ul>
					<li><a href="/cadastrar-hemocentro"><i class="fa fa-group"></i>Cadastrar um novo hemocentro</a></li>
					<!--<li> <a href="/editar-hemocentro"><i class="fa fa-group"></i>Editar um hemocentro</a></li>-->
					<!--<li><a href="/consultar-hemocentro"><i class="fa fa-globe"></i> Consultar hemocentros</a></li>-->
					<!--<li> <a href="/excluir-hemocentro"><i class="fa fa-group"></i>Excluir um hemocentro</a></li>-->
				</ul>
			</li>
			<br>
			<br>
			<li>
				<a href="">
					<i class="fa fa-picture-o"></i>
					<strong>Sair</strong>
					<!--<small></small>-->
				</a>
			</li>
			<br>
			<!--<li>-->
			<!--	<a href="">-->
			<!--		<i class="fa fa-envelope-o"></i>-->
			<!--		<strong>Contacts</strong>-->
			<!--		<small>drop a line</small>-->
			<!--	</a>-->
			<!--</li>-->
		</ul>
	</nav>
</div>